<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>118201110615-c2qn3p18vfmc1433k7n11s5jpnlusrq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118201110615-c2qn3p18vfmc1433k7n11s5jpnlusrq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCdd9VO88pZY5QHhDqrh4lJp4uknhCAL-k</string>
	<key>GCM_SENDER_ID</key>
	<string>118201110615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pietrantuono.nfcqrdemo.NfcQrCodeDemo</string>
	<key>PROJECT_ID</key>
	<string>qnfcqrcodedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>qnfcqrcodedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118201110615:ios:f3f135b5ea76b5db</string>
	<key>DATABASE_URL</key>
	<string>https://qnfcqrcodedemo.firebaseio.com</string>
</dict>
</plist>